@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import "tailwindcss";

@layer base {
  .font-outline-2 {
    -webkit-text-stroke: 2px #90f9e0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .font-outline-2-gray {
    -webkit-text-stroke: 2px #1c1c1c40;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .font-outline-4 {
    -webkit-text-stroke: 4px #90f9e0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.balance-text {
  text-wrap: balance;
}

.lora-font {
  font-family: "Lora", serif;
  font-optical-sizing: auto;

  font-style: normal;
}

.anton-font {
  font-family: "Anton", sans-serif;
  font-optical-sizing: auto;

  font-style: normal;
}